.dash{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}
.leftcontent{
    background-color: rgba(120, 136, 255, 0.938);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    
}
.lnk1 Button{
    margin-top: 45px;
    color: white;
    text-decoration: solid;
}
.logout{
    margin-top: 100px;
}

.rightcontent{
    display: flex;
    flex-direction: column;
}
.menu-content{
    border: 1px solid black;
    height: 60px;
    display: grid;
    grid-template-columns: 700px 200px;
    align-items: center;
}
.logo img{
    height: 55px;
}

.iimg{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
}



/* .box{
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items:start;
}
.box1{
    height: 120px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(132, 212, 255, 0.693);
}
.box2{
    height: 120px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(152, 255, 152, 0.515);
}
.box3{
    height: 120px;
    width: 200px;
    border-radius: 10px;
    background-color: rgba(255, 166, 255, 0.414);
}
.menu{
    height: 50px;
    border-radius: 1px;
    background-color: rgba(192, 192, 255, 0.896);
}
.menu-content{
    display: grid;
    grid-template-columns: 750px 50px;
    align-items: center;
}
.logo img{
    height: 50px;
} */

